<div class="container mt-5">
    <div class="row">
        <div class="col-lg8 offset-lg3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Tabla de posiciones</span>
                    <button class="btn btn-success float-end" routerLink="/crear">Añadir equipo</button>
                    <table *ngIf="listEquipos.length>0" class="table table-striped mt-4">
                        <thead>
                          <tr class="Cabecera">
                            <th scope="col">Nombre</th>
                            <th scope="col">Puntos</th>
                            <th scope="col">Diferencia de gol</th>
                            <th scope="col">Goles a favor</th>
                            <th scope="col">Goles en contra</th>
                            <th scope="col"></th>                            
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let equipo of listEquipos" class="Contenido">
                            <td>{{ equipo.nombre }}</td>
                            <td>{{ equipo.puntos }}</td>
                            <td>{{ equipo.difGol }}</td>
                            <td>{{ equipo.golesFavor }}</td>
                            <td>{{ equipo.golesContra }}</td>
                            <td><i (click)="eliminarEquipo(equipo._id)" class="fas fa-trash-alt text-danger"></i></td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 class="text-danger" *ngIf="listEquipos.length ==0">No hay equipos para mostrar</h5>
                      <button class="btn btn-success float-center" routerLink="/calendario">Calendario</button>
                </div>
            </div>
        </div>
    </div>
</div>